In [1]:
import pandas as pd
import numpy as np

C:\Users\Samantha\anaconda_work\lib\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
C:\Users\Samantha\anaconda_work\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.4' currently installed).
  from pandas.core import (

In [2]:
# Import dataset 

df = pd.read_csv("../data/cleaned data/merged_data.csv")
df = df.dropna()
df.head()

,District Name,DistrictType,Virtual,Hybrid,In_Person,mean_proficient_english_2019,mean_proficient_math_2019,mean_proficient_english_2022,mean_proficient_math_2022,Unnamed: 0,...,EconomicallyDisadvantaged,EnglishLearner,SpecialEducation,Female,Male,Homeless,MilitaryConnected,perc_unconnected_students,Latitude,Longitude
2,ABINGTON HEIGHTS SCHOOL DISTRICT,Regular local school district,1.0,8.0,0.0,51.080000,37.460000,46.000000,37.0200,1.0,...,-2.118173,-0.288672,-0.829856,0.138839,-0.146036,-0.942865,-0.579352,-1.228960,41.494201,-75.698738
3,ABINGTON SCHOOL DISTRICT,Regular local school district,2.0,7.0,0.0,47.787500,34.800000,41.975000,29.8875,0.0,...,-0.896378,0.453346,-0.566116,0.207844,-0.214913,-0.588581,-0.013236,-0.966878,40.112391,-75.128542
9,ALBERT GALLATIN AREA SCHOOL DISTRICT,Regular local school district,2.0,7.0,0.0,40.185714,27.814286,40.557143,19.9000,2.0,...,0.510713,-0.647713,1.939415,0.759880,-0.765928,-0.706676,-0.296294,1.653942,39.830060,-79.771237
10,ALIQUIPPA SCHOOL DISTRICT,Regular local school district,6.0,2.0,1.0,20.800000,5.450000,19.150000,2.6000,3.0,...,1.634069,-0.025375,0.647088,-0.482203,0.473857,-0.057154,-0.579352,2.440187,40.609438,-80.279389
11,ALLEGHENY VALLEY SCHOOL DISTRICT,Regular local school district,0.0,9.0,0.0,43.200000,25.100000,42.450000,14.6500,4.0,...,-0.195728,-0.240800,0.383348,-2.276322,2.264657,-0.234296,-0.579352,0.081450,40.544106,-79.816428

In [3]:
# Get descriptive statistics for dataset

descriptive_stats = df.describe()

In [4]:
descriptive_stats.head()

,Virtual,Hybrid,In_Person,mean_proficient_english_2019,mean_proficient_math_2019,mean_proficient_english_2022,mean_proficient_math_2022,Unnamed: 0,NumberofSchools,DistrictEnrollment,...,EconomicallyDisadvantaged,EnglishLearner,SpecialEducation,Female,Male,Homeless,MilitaryConnected,perc_unconnected_students,Latitude,Longitude
count,432.000000,432.000000,432.000000,432.000000,432.000000,432.000000,432.000000,432.000000,432.000000,432.000000,...,432.000000,432.000000,432.000000,432.000000,432.000000,432.000000,432.000000,432.000000,432.000000,432.000000
mean,1.034722,5.631944,2.076389,45.616979,28.651119,41.004377,24.439300,251.004630,4.865741,-0.042850,...,-0.010901,-0.018837,0.002451,-0.014185,0.014358,0.006677,0.002926,-0.001664,40.638540,-77.663263
std,1.792275,2.978842,2.714778,5.988525,6.195308,6.524887,6.765084,144.147707,3.924524,0.449453,...,0.977183,0.967261,1.007189,1.004577,1.005293,1.001592,0.987001,1.001768,0.582438,1.853573
min,0.000000,0.000000,0.000000,14.200000,2.750000,12.100000,2.500000,0.000000,1.000000,-0.485695,...,-2.384536,-0.647713,-2.807907,-6.278589,-2.832236,-1.120008,-0.579352,-1.884165,39.731393,-80.487323
25%,0.000000,4.000000,0.000000,43.921667,25.950000,38.787500,21.187500,124.750000,3.000000,-0.334863,...,-0.554739,-0.575904,-0.671612,-0.551207,-0.628174,-0.647628,-0.579352,-0.704796,40.185669,-79.719651

In [5]:
# Export to .csv

descriptive_stats.to_csv('../data/cleaned data/descriptive_stats.csv', index=True)